# App
VITE_APP_NAME=
# API
VITE_BASE_URL=
VITE_API_URL=

# App URL
VITE_APP_URL=
VITE_DEBUG=true

VITE_RACE_API_URL=
VITE_EARTH_API_URL=
VITE_DHAKA_COLO_API_URL=
VITE_SECRET_KEY=
VITE_ABLY_KEY=
VITE_RACE_ACCESS_TOKEN=
VITE_EARTH_ACCESS_TOKEN=
VITE_DHAKACOLO_ACCESS_TOKEN=
VITE_DHAKACOLO_SESSION_ID=